body {
  height: 100%;
  background: url(../images/background-image.jpg) no-repeat center;
  background-size: cover;
}

main {
  padding: 60px;
}

.wrapper {
  display: flex;
  min-height: 600px;
  border-radius: 10px;
  background: url(../images/background-image-blur.jpg) no-repeat center;
  background-size: cover;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.line {
  border-right: 3px solid;
  color: #c4c4c4;
}

h1 {
  margin-bottom: 0;
  color: #ffffff;
  font-size: 28px;
}

h2 {
  font-size: 17px;
  margin-bottom: 0;
}

input:focus {
  outline: none;
}

nav {
  padding: 30px;
  flex: 0 0 300px;
}
nav h1 {
  text-align: center;
}
nav input::-webkit-calendar-picker-indicator {
  display: none;
}

.card-header .mb-0 .btn {
  text-decoration: none;
  color: #5a6269;
  text-align: left;
}
.card-header .mb-0 .btn:focus {
  box-shadow: none;
  background-color: #c4c4c4;
}

.accordion {
  margin-top: 50px;
}

.search {
  width: 100%;
  height: 55px;
  padding: 25px;
  font-size: 16px;
  border: solid 3px;
  border-radius: 10px;
  border-color: #c4c4c4;
  z-index: 50;
  position: relative;
}
.search_wrap {
  margin: 30px 0;
  position: relative;
  z-index: 50;
}
.search_img {
  position: absolute;
  width: 29px;
  height: 29px;
  right: 15px;
  top: 10px;
  z-index: 50;
}

.data {
  position: relative;
  width: 1px;
  padding: 30px;
  flex: 1;
}
.data_area {
  margin-top: 27px;
}

.data_title,
.sub_title {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.year_form {
  margin-right: 30px;
}

.quarter_form,
.year_form {
  padding: 0;
  border: none;
  color: #ffffff;
  background: none;
}
.quarter_form:focus,
.year_form:focus {
  box-shadow: inset 0px -5px 0px 0px #c4c4c4;
}

.form_title {
  text-align: center;
  color: #ffffff;
  background-color: #333b40;
  padding: 10px 0;
}

.form_container {
  overflow-x: auto;
  white-space: nowrap;
}

table {
  width: 100%;
  margin: 0 auto;
  line-height: 26px;
  border-collapse: separate;
  border-spacing: 0;
}
table tr {
  position: relative;
}
table tr:nth-of-type(1) {
  background-color: #eaecf1;
  position: sticky;
}
table tr:not(:nth-of-type(1)):nth-of-type(n) {
  background-color: white;
}
table tr:not(:nth-of-type(1)):nth-of-type(2n) {
  background-color: #f4f4f4;
}
table th {
  padding: 0 10px;
  position: sticky;
  left: 0;
  background-color: inherit;
  border-right: 1px dashed lightgray;
}
table td {
  text-align: right;
  padding: 0 10px;
}

canvas {
  background-color: #fff;
  padding: 10px;
}

.pre-match {
  position: absolute;
  top: 33px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 10;
}
.pre-match-item {
  padding: 5px 26px;
  text-decoration: none;
  color: black;
  border: 2px #c4c4c4 solid;
  border-top: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}
.pre-match-item span:last-child {
  font-size: smaller;
}
.pre-match-item:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.pre-match-item:hover, .pre-match-item:focus {
  outline: none;
  color: white;
  text-decoration: none;
  background-color: #5a6269;
}

/*# sourceMappingURL=main.css.map */
