@use "../theme/font";
@use "../theme/color";
body {
    height: 100%;
    background: url(../images/background-image.jpg) no-repeat center;
    background-size: cover;
}
main {
    padding: 60px;
}
.wrapper {
    display: flex;
    min-height: 600px;
    border-radius: 10px;
    background: url(../images/background-image-blur.jpg) no-repeat center;
    background-size: cover;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.line {
    border-right: 3px solid;
    color: color.$dark-gray;
}

h1 {
    margin-bottom: 0;
    color: color.$white;
    font-size: font.$title;
}
h2 {
    font-size: font.$subtitle;
    margin-bottom: 0;
}
input:focus {
    outline: none;
}
