@use "../theme/font";
.container {
    display: flex;
}
.line {
    border-right: 1px solid;
    margin: 0 16px;
}

h1 {
    font-size: font.$title;
    margin-bottom: 0;
}
h2 {
    font-size: font.$subtitle;
    margin-bottom: 0;
}
