@use "../theme/color";
.data {
    position: relative;
    width: 1px;
    padding: 30px;
    flex: 1;
    &_area {
        margin-top: 27px;
    }
}
.data_title,
.sub_title {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}
.year_form {
    margin-right: 30px;
}

.quarter_form,
.year_form {
    padding: 0;
    border: none;
    color: color.$blue;
    background-color: color.$white;
    &:focus {
        box-shadow: inset 0px -5px 0px 0px color.$dark-gray;
    }
}
.form_title {
    text-align: center;
    color: color.$white;
    background-color: color.$dark-blue;
}
.form_container {
    // width: 750px;
    overflow-x: auto;
    white-space: nowrap;
}
table {
    width: 100%;
    margin: 0 auto;
    line-height: 26px;
    border-collapse: separate;
    border-spacing: 0;

    tr {
        position: relative;
    }
    tr:nth-of-type(1) {
        background-color: color.$gray;
        position: sticky;
    }
    tr:not(:nth-of-type(1)):nth-of-type(n) {
        background-color: white;
    }
    tr:not(:nth-of-type(1)):nth-of-type(2n) {
        background-color: color.$lighter-gray;
    }
    th {
        padding: 0 10px;
        position: sticky;
        left: 0;
        background-color: inherit;
        border-right: 1px dashed lightgray;
    }
    td {
        text-align: right;
        padding: 0 10px;
    }
}

// .form_wrapper {
//     display: grid;
//     grid-template-columns: 3fr repeat(9, 1fr);
//     grid-auto-flow: column;
//     p {
//         margin: 0;
//         background-color: color.$gray;
//     }
//     div:not(.form_item_title) {
//         text-align: right;
//     }
// }

// .form_item {
//     &_title {
//         grid-column-start: 1;
//         grid-column-end: 3;
//         p {
//             margin: 0;
//         }
//     }
//     &_year {
//         padding: 10px 0;
//         grid-row-start: 3;
//         grid-row-end: 5;
//         background-color: color.$lighter-gray;
//     }
// }
