.data {
    margin-top: 75px;
    &_title {
        display: flex;
        align-items: center;
    }
}
.sub_title {
    display: flex;
}

button {
    padding: 0;
    border: none;
    background-color: white;
}
