@use "../theme/font";
@use "../theme/color";
nav {
    margin: 30px;
    flex: 1;
    & h1 {
        text-align: center;
    }
    input::-webkit-calendar-picker-indicator {
        display: none;
    }
}
.card-header .mb-0 .btn {
    text-decoration: none;
    color: color.$blue-gray;
    text-align: left;
    &:focus {
        box-shadow: none;
        background-color: color.$dark-gray;
    }
}
.search {
    width: 282px;
    height: 55px;
    padding: 25px;
    font-size: font.$paragraph;
    border: solid 3px;
    border-radius: 10px;
    border-color: color.$dark-gray;
    &_wrap {
        margin: 30px 0;
        position: relative;
    }
    &_img {
        position: absolute;
        width: 29px;
        height: 29px;
        right: 25px;
        top: 15px;
    }
}
// .card:nth-child(odd) {
//     background-color: color.$lighter-blue;
// }
// .card:nth-child(even) {
//     background-color: color.$dark-gray;
// }
